$backgroundColorL: #1f2637;
$backgrondColorHeaderR:  #eef1f7;
$backgroundColorList: #fff;

.l-left {
    width: 15%;
    height: 100%;
    background-color: $backgroundColorL;
}

.l-main {
    width: 85%;
    height: 100%;
    background-color: $backgrondColorHeaderR;
}

.main-list {
    background-color: $backgroundColorList;

    img {
        width: 200px;
        height: 275px;
    }
}

.left-menu,
.choose-books,
.left-footer {
    border-top: 1px solid  #141824;
}

.main-header {
    height: 10%;
}